.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100%;
    background-color: rgb(24, 38, 53);
    padding-top: 28px;
}

.navBar {
    background-color: #182635;
}

.sidenavClosed {
    /* composes: sidenav; */
    transition: width 0.3s ease-in-out;
    width: 60px;
}

.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: #B2BAC2;
    text-decoration: none;
}

.linkText {
    padding-left: 16px;
}

.linkTextClosed {
    /* composes: linkText; */
    visibility: hidden;
}

.sideitem:hover {
    background-color: #244f7d1c;

}

.menuBtn {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: #B2BAC2;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 45px;
    padding-left: 20px;
    padding-top: 20px;
}